commands:
  01_install_playwright_deps:
    command: "dnf install -y alsa-lib at-spi2-atk atk cups-libs dbus-glib dbus-libs expat gdk-pixbuf2 glib2 gtk3 libX11 libXcomposite libXcursor libXdamage libXext libXfixes libXi libXrandr libXrender libXtst libXxf86vm libdrm libxcb libxshmfence mesa-libgbm nspr nss pango"
    ignoreErrors: true
  02_install_chromium:
    command: "/var/app/venv/staging-LQM1lest/bin/python -m playwright install chromium"
    cwd: "/var/app/current"
    ignoreErrors: true
